{% extends "admin_accounts/base.html" %}

{% load extra_tags %}

{% block content %}
  {% if posts|get_type == "str" %}
    <div class="no-posts">
      {{posts}}
    </div>
  {% else %}
  <form method="post">
    {% csrf_token %}
    <ul class="post_list">
        {% for post in posts %}
          <li>
            <input type="checkbox" name="itemtbd" value="{{post.id}}"/>
            <label for="{{post.id}}"><a href="{{post.id}}">{{post.title}}</a></label>
          </li>
        {% endfor %}
    </ul>
    <input type="submit" value="Delete">
  </form>
  {% endif %}
{% endblock %}
